/*OpenSansBold*/
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSansBold/OpenSansBold.eot');
    src: url('../fonts/OpenSansBold/OpenSansBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansBold/OpenSansBold.woff') format('woff'),
    url('../fonts/OpenSansBold/OpenSansBold.ttf') format('truetupe');
    font-style: normal;
    font-weight: normal;
}

/*droidserif-bold*/
@font-face {
    font-family: 'droidserif-bold';
    src: url('../fonts/droidserif-bold/droidserif-bold.eot');
    src: url('../fonts/droidserif-bold/droidserif-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/droidserif-bold/droidserif-bold.woff') format('woff'),
    url('../fonts/droidserif-bold/droidserif-bold.ttf') format('truetupe');
    font-style: normal;
    font-weight: normal;
}

/*droidserif-regular*/
@font-face {
    font-family: 'droidserif-regular';
    src: url('../fonts/droidserif-regular/droidserif-regular.eot');
    src: url('../fonts/droidserif-regular/droidserif-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/droidserif-regular/droidserif-regular.woff') format('woff'),
    url('../fonts/droidserif-regular/droidserif-regular.ttf') format('truetupe');
    font-style: normal;
    font-weight: normal;
}

/*open-sans-light*/
@font-face {
    font-family: 'open-sans-light';
    src: url('../fonts/open-sans-light/open-sans-light.eot');
    src: url('../fonts/open-sans-light/open-sans-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans-light/open-sans-light.woff') format('woff'),
    url('../fonts/open-sans-light/open-sans-light.ttf') format('truetupe');
    font-style: normal;
    font-weight: normal;
}

/*open-sans-regular*/
@font-face {
    font-family: 'open-sans-regular';
    src: url('../fonts/open-sans-regular/open-sans-regular.eot');
    src: url('../fonts/open-sans-regular/open-sans-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans-regular/open-sans-regular.woff') format('woff'),
    url('../fonts/open-sans-regular/open-sans-regular.ttf') format('truetupe');
    font-style: normal;
    font-weight: normal;
}

/*open-sans-semibold*/
@font-face {
    font-family: 'open-sans-semibold';
    src: url('../fonts/open-sans-semibold/open-sans-semibold.eot');
    src: url('../fonts/open-sans-semibold/open-sans-semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans-semibold/open-sans-semibold.woff') format('woff'),
    url('../fonts/open-sans-semibold/open-sans-semibold.ttf') format('truetupe');
    font-style: normal;
    font-weight: normal;
}

