body {
    background: #F26451;
}



button {
    position: absolute;
    width: 30px;
    height: 30px;
    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    cursor: pointer;
    background: transparent;
    border: 0px;
}

.button-div {
    height: 0px;
    border: 1.5px solid #fff;
    width: 22px;
    display: block;
    position: absolute;
    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    background:#fff;
}

.button-div-half {
    width: 11px;
    margin-left: 11px;
}

button:hover {
    transition-delay: 100ms;
}

button:hover .button-div:nth-child(3):before {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #F26451;
}

button:hover .button-div {
    height: 0px;
    border: 1.5px solid #fff;
    width: 22px;
    display: block;
    position: absolute;
    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    background:#fff;
    margin-left: 0;

}

button:focus {
    outline: 0px;
}

.button-div:nth-child(1) {
    top: 0px;
}

.button-div:nth-child(2) {
    top: 8px;
}

.button-div:nth-child(3) {
    top: 16px;
}

.button-div:nth-child(3):before {

}

button:hover .button-div:nth-child(1) {

}

button:hover .button-div:nth-child(2) {

}

button:hover .button-div:nth-child(3) {

}

button:hover .button-div:nth-child(3):before {
    opacity: 1;
    transition: opacity 600ms cubic-bezier(.61, .01, .42, 1);
;
}

button:active:hover .button-div:nth-child(3):before,
button:active .button-div:nth-child(3):before,
button:active .button-div:nth-child(2) {
    opacity: 0;
    transition: all 200ms;
}

button:active .button-div {
    border: 1.5px solid #fff;
    height: 0px;
    border-radius: 0%;
    margin-left: -1px;
    margin-top: 6px;
    animation: division 300ms linear 1;
    width: 25px;
    top: 0px;
}

button:active .button-div:nth-child(2) {
    width: 0px;
}

button:active .button-div:nth-child(3) {
    transform: rotate(45deg);
}

button:active .button-div:nth-child(1) {
    transform: rotate(-45deg);
}

@keyframes atom {
    0% {
        transform: rotate(180deg);
    }
}

@keyframes division {
    0% {
        transform: rotate(180deg);
    }
}

@keyframes ball {
    0% {
        left: -20%;
        top: 10%;
    }
    10% {
        left: 10%;
        top: -35%;
    }
    25% {
        left: 45%;
        top: -50%;
    }
    40% {
        left: 80%;
        top: -20%;
    }
    50% {
        left: 98%;
        top: 18%;
    }
    60% {
        left: 80%;
        top: 50%;
    }
    75% {
        left: 45%;
        top: 80%;
    }
    90% {
        left: 0%;
        top: 60%;
    }
    100% {
        left: -20%;
        top: 10%;
    }
}