@import "fonts.css"
@import "bootstrap.css"
@import "hamburger.css"
@import "scroll-down.css"
@import "winston.css"
@import "wobble-vertical.css"
//@import "menu.css"
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font: inherit
  font-size: 100%
  vertical-align: baseline


a
  text-decoration: none
  cursor: pointer

a:hover
  text-decoration: none
  cursor: pointer
  
body
  height: 100%
  
  
html
  line-height: 1
  height: 100%


ol, ul
  list-style: none

table
  border-collapse: collapse
  border-spacing: 0

html
  height: 100%
  background-color: #f4fffd





caption, th, td
  text-align: left
  font-weight: normal
  vertical-align: middle

.main-picture .container
  height: 100%
  width: 100%

q, blockquote
  quotes: none

q:before, q:after, blockquote:before, blockquote:after
  content: ""
  content: none

a img
  border: none


article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary
  display: block
*


.main-picture .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6
  height: 100%

//.col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-5,
//.col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1, .col-sm-12, .cosm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7,  .col-sm-5,
//.col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .comd-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7,  .col-md-5,
//.col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7,  .col-lg-5,
//.col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1


.main-picture .row
  height: 100%


  //   fonts
// OpenSansBold
// droidserif-bold
// droidserif-regular
// open-sans-light
// open-sans-regular
// open-sans-semibold


header
  position: absolute
  min-height: 100px
  width: 100%
  z-index: 22


.menu-button

  height: 28px
  width: 30px
  margin-top: 50px
  margin-right: 40px
  float: right


  &:hover
    background-position: -51px 0px






.main-picture
  position: relative
  width: 100%
  height: 100vh
  padding: 60px
  overflow: hidden
  background-image: url("../img/Main-picture.jpg")
  background-repeat: no-repeat
  background-position: top center
  background-size: cover


  //min-height: 1082px
//  position: relative
//  min-height: 668px



  //min-height: 1082px

.main-picture .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6
  height: 100%
  display: flex
  justify-content: center
  align-items: center

.main-logo-div
  min-width: 360px


  //background: #ccf1ff

.logo
  position: relative
  background-image: url("../img/logo.png")
  background-repeat: no-repeat
  background-size: auto 60px
  width: 100%
  height: 80px

.logo-text
  min-width: 280px
  margin-top: 40px
  position: relative
  width: 100%
  text-align: left
  font-family: droidserif-regular
  font-size: 40px
  line-height: 56px
  span
    color: white




// download-free-block

.download-free-block
  min-height: 32px
  padding: 10px
  float: right

.main-picture .download-free-block-position
  align-items: flex-end
  justify-content: flex-end

.main-download-block
  padding-top: 5px
  padding-bottom: 5px

.main-download-block a
  width: 100%
  color: white


.icon-file-pdf
  float: left
  height: 66px
  width: 52px
  background-image: url("../img/icon-file-pdf.png")
  background-repeat: no-repeat
  background-position: center center


.download-caption
  max-width: 300px
  font-size: 24px
  overflow: hidden
  line-height: 34px
  padding: 10px 0 10px 0px

.text-in-text-block
  display: block
  padding-left: 66px

.download-caption a
  display: block

.icon-file-pdf
  &hover
    transform: translate(0px, -50px)


.yellow-text
  color: #ffdb18



.download-description-text
  padding: 5px
  margin: 0px 0px 16px 0px
  width: 300px
  color: #a3a5ab
  font-size: 14px
  font-family: open-sans-regular
  line-height: 20px

.button-guide
  padding: 5px

.button-guide a
  display: block
  height: 50px
  width: 190px
  background: #ffdb18
  border-radius: 25px
  font-size: 14px
  text-align: center
  font-family: droidserif-bold
  line-height: 50px
  color: black
  -webkit-transition: all .1s ease-in-out
  -o-transition: all .1s ease-in-out
  transition: all .1s ease-in-out
  &:hover
    text-decoration: none
    background: #e9c500

.scroll-button-container
  position: relative
  width: 100%
  height: 100%
  //margin-top: 26px

.scroll-button
  width: 40px
  margin: 0 auto






.font
  text-align: center






.picture-bar-global
  position: relative
  width: 100%
  min-height: 480px
  margin-left: auto
  margin-right: auto
  padding: 1px
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden
  background-repeat: no-repeat
  background-position: center center
  background-size: cover




.picture-bar-1
  background-image: url("../img/picture-bar-1.jpg")
.picture-bar-2
  background-image: url("../img/picture-bar-2.jpg")
.picture-bar-3
  background-image: url("../img/picture-bar-3.jpg")

.clients-block
  width: 100%
  min-height: 680px
  background-color: #a3a5ab

.finding-great-block
  background-image: url("../img/finding-great.jpg")

.data-driven
  margin: 40px auto
  width: 500px
  color: #ffffff
  text-align: center
  font-size: 36px
  //overflow: hidden
  font-family: droidserif-regular

.data-driven h1
  -webkit-transition:  ease-out 0.4s
  -moz-transition:  ease-out 0.4s
  -o-transition:  ease-out 0.4s
  transition:  ease-out 0.4s

.description-data
  margin: 60px auto
  color: #cbcbcb
  width: 700px
  text-align: center
  font-size: 16px
  line-height: 24px
  font-family: open-sans-light



.picture-bar-hover:before
  position: absolute
  left: 50%
  //width: 50%
  //height: 100%
  overflow: hidden
  content: ''
  width: 0
  border-bottom: 260px solid #fdd918
  border-left: 100vh solid transparent
  -webkit-transition: opacity 0.45s, -webkit-transform 0.45s
  transition: opacity 0.45s, transform 0.45s
  -webkit-transform: rotate3d(0,0,1,45deg)
  transform: rotate3d(0,0,1, 45deg)
  -webkit-transform-origin: 0 100%
  transform-origin: 0 100%
  box-sizing: border-box
  -webkit-transition:  ease-out 0.4s
  -moz-transition:  ease-out 0.4s
  -o-transition:  ease-out 0.4s
  transition:  ease-out 0.4s



.link-bar
  position: absolute
  right: 0
  bottom: -60px
  padding: 0 3% 0 0
  display: block
  opacity: 4
  font-size: 14px
  font-family: OpenSansBold
  -webkit-transition:  ease-out 0.4s
  -moz-transition:  ease-out 0.4s
  -o-transition:  ease-out 0.4s
  transition:  ease-out 0.4s
  opacity: 0

.link-bar a
  color: white
  text-transform: uppercase
  float: right
  opacity: 0
  -webkit-transition:  ease-out 0.4s
  -moz-transition:  ease-out 0.4s
  -o-transition:  ease-out 0.4s
  transition:  ease-out 0.4s

.picture-bar-article
  -webkit-transition:  ease-out 0.4s
  -moz-transition:  ease-out 0.4s
  -o-transition:  ease-out 0.4s
  transition:  ease-out 0.4s

.picture-bar-article h1
  -webkit-transition:  ease-out 0.4s
  -moz-transition:  ease-out 0.4s
  -o-transition:  ease-out 0.4s
  transition:  ease-out 0.4s

.picture-bar-global .container
  margin: 0
  padding: 0


  //
//picture-bar-hover (section)
  //


.picture-bar-hover:hover
  .picture-bar-article
    transform: translate(0, -50px)

  .picture-bar-hover-block
    -moz-transform: rotate(-45deg)  /* Firefox */
    -o-transform: rotate(-45deg)  /* Opera */
    -webkit-transform: rotate(-45deg)  /* Safari y Chrome */

  .picture-bar-article h1
    color: #fdd918

  .picture-bar-hover:before
    transform: rotate3d(0, 0, 1, 14deg)
    -webkit-transform: rotate3d(0,0,1, 14deg)
    z-index: 9

  .link-bar
    transform: translate(0px, -85px)
    opacity: 4

  .link-bar a
    opacity: 1

.picture-bar-hover:hover.picture-bar-hover:before
  transform: rotate3d(0, 0, 1, 0deg)
  -webkit-transform: rotate3d(0,0,1,0deg)
  opacity: 0.6

figure.effect-winston p
  position: absolute
  right: 0
  bottom: 0
  padding: 0 1.5em 7% 0

.grid figure p
  letter-spacing: 1px
  font-size: 68.5%

figure.effect-winston a
  margin: 0 10px
  color: #5d504f
  font-size: 170%

.plugin-section-main
  position: relative
  min-width: 100%
  width: 100%

.wrapper
  display: flex
  flex-direction: column
  height: 100%
  
.content
  flex: 1 0 auto

footer
  flex: 0 0 auto
  padding: 20px


.picture-bar-global .picture-bar-article h2
  margin: 40px auto
  width: 500px
  color: #ffffff
  text-align: center
  font-size: 36px
  font-family: droidserif-regular

.picture-bar-global .picture-bar-article p
  margin: 60px auto
  color: #cbcbcb
  width: 700px
  text-align: center
  font-size: 16px
  line-height: 24px
  font-family: open-sans-light





//SCROLL BUTTON
