@charset "UTF-8";


/*Пропишем настройки для всего документа используя (*) */
* {
	margin: 0;
	padding: 0;
	outline:none; /*Никакой обводки*/
}

/*Для body*/
body {
	width: 100%;
	height: 100%;
	color: #333;
	background: #f7f7f7;
	font-size: 1em; /*Изображение будет уменьшаться или увеличиваться в зависимости от размера экрана пользователя*/
	font-family: "Segoe UI", sans-serif;/*Шрифт*/
	line-height: 135%;
}

/*Укажем настройки для ссылак*/
a {
	color: #f48b8b;
	text-decoration: none; /*Текст будет без подчеркивания*/
	transition: all.6s ease; /*Цвет текста будет меняться постепенно*/
	/*Зададим коректное отображение текста в разных браузерах*/
	-moz-transition: all.6s ease;/*В Mozila*/
	-webkit-transition: all.6s ease;/*В safari*/
	-ms-transition: all.6s ease;/*?*/
}


/*Указывваем для всего hr*/
hr {
	display: block;
	border:0px;
	height: 1px;
	border-top: 1px solid #ccc;
	padding: 0; 
}


/*При наведении на ссылку*/
a:hover{
	color: #8b9ff5;
	text-decoration: none; /*Текст будет без подчеркивания*/
	transition: all.6s ease; /*Цвет текста будет меняться постепенно*/
	/*Зададим коректное отображение текста в разных браузерах*/
	-moz-transition: all.6s ease;/*В Mozila*/
	-webkit-transition: all.6s ease;/*В safari*/
	-ms-transition: all.6s ease;/*?*/
}


/*При нажатии на ссылку*/
a:active {color: #8ce4a6;}

/*Добавим стили для всех изображений*/

img {
	max-width: 100%;
	height: auto; /**/
	width: auto\9; /*Для корректного сжатия изображения*/
}


/*Настройки класса right*/
.right {
	float: right;
}
.left {
	float: left;
}
.clear {
	clear: both;
}


/*Блок для выделения(При выделении текста задается окраска выделения) */
::selection {background: #f58b8b; color:#fff;}
::-moz-selection {background: #f58b8b; color:#fff;} /*Для корректного отображения в браузере Mazilla*/


/*Укажем стили для logo*/
#logo {
	font-size: 2em;
	font-family: Comic Sans MS, sans-serif;
	color: silver;

}


.contact {
	font-size: 1.5em;
	font-family: Comic Sans MS, sans-serif;
	margin-left: 20px;

}


/*Указываем стили к строке ввода*/
input[type=text].field {
	border-radius:  2px;
	border: 2px solid silver;
	padding: 5px;
	margin-left: 20px;
}


/*Добавляем эффект при клике на поле поиска */
input[type=text].field:focus {
	border: 2px solid #f58b8b;
}


/*Стили для menu*/
#menu {
	color: #666;
	font-family: Comic Sans MS, sans-serif;
	font-size: 1.7em;
}


/*Стили для полоски(подчеркивания)*/
#menu hr{
	width: 500px;
	max-width: 100%;
	margin-top: 10px;
	padding-bottom: 1%;

}


#menuHrefs a {
	padding: 10px;
	border-radius: 5px;
	margin-right: 5px;
	color: #626262;

}


/*Указываем стили при наведении мыши */
#menuHrefs a:hover {
	background-color: #ececec;
}


/*Основные стили для сайта*/
#wrapper {
	float: left;
	width: 100%;
	margin-top: 20px;
}


#wrapper #articles {
	float: left;
	width: 80%;
	margin-left: 10%;

}


#wrapper #articles article {
	float:left;
	width: 31.333333%;
	border: 1px solid silver;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #fafafa;
	margin-right: 2%;
	min-height: 400px;
}


#wrapper #articles article img {
	width: 100%;
	height: 200px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid silver;
	margin-bottom: 10px;
}


/*Зададим стили для заголовков*/
#wrapper #articles article h2 {
	width: 90%;
	margin-left: 5%;
	font-weight: normal;
	font-size: 1.7em;
	color: #4a4a4a;

}


#wrapper #articles article p {
	width: 80%;
	margin-left: 10%;
	text-indent: 1.7em;
}


/*Указываем стили для "Читать"*/
#wrapper #articles article a {
	padding: 5px;
	background-color: #ed7b7b;
	margin-left: 5%;
	border-radius: 5px;
	float: left;
	color: #fff;
	margin-bottom: 10px;

}


/*Стили для странички о нас*/
#about_us {
	width: 100%;
	float: left;
	background-color: #fafafa;
	border-radius: 5px;
	border: 1px solid silver;
	box-sizing: border-box;
	padding: 1%;
}

/*Добавим стили (Эффект при новедении мыши) для ссылки "Читать"*/
#wrapper #articles article a:hover {
	background-color: #8b9ff5;

}


/*Зададим стили для центральной понеле*/
#main_soc_block {
	width: 100%;
	padding: 2% 0%;
	border-bottom: 2px solid silver;
	border-top: 2px solid silver;
	margin: 20px 0px;
	float: left;
	background: url('../img/background long.jpg') repeat-x center;
	height: 50px;
}


#main_soc_block_in {
	text-align: center;
	padding: 1%;
	height: 40px;
	background-color: #fafafa;
	border: 1px solid silver;
	border-radius: 7px;
	width: 500px;

}


/*Стили для форм*/
form {
	width: 60%;
	margin-left: 20%;
	float: left;
}


/*Стили форм(слов) ввода*/
form label {
	
	float: left;
	margin-bottom: 5px;
	width: 100%

}


form input{
	border-radius:  5px;
	border: 2px solid silver;
	padding: 5px;
	float: left;
	background-color: #fafafa;
	clear: both;
	width: 40%;
	margin-bottom: 10px;
}



/*Добавляем эффект при клике на поле поиска */
form input:focus, form textarea:focus {
	border: 2px solid #f58b8b;
}


form textarea {
	width: 60%;
	font: left;
	clear: both;
	background-color: #fafafa;
	border: 2px solid silver;
	border-radius: 5px;
	padding: 10px;
	font-size: 1.7em;
}


form #send {
	float: right;
	padding: 10px;
	background-color: #f37a7a;
	border-radius: 5px;
	margin: -110px -20px;
	font-size: 1em;
	color: #fff;

}

/*Эффект при новедении*/
form #send:hover {
	background-color: #8ce4a6;
	border-color: #8ce4a6;

}


/*Указываем начальные настройки для верхней и нижней шапки*/
header, footer {
	width: 98%;
	background-color: #fff;
	float: left;
	

}


/*Прописываем настройки для верхней шапки header*/
header {
	border-bottom: 2px solid silver;
	padding: 1%; /*Так как цршвер 98%*/
}


/*Прописываем настройки для верхней шапки header*/
footer {
	padding: 1%;
	border-top: 2px solid silver;
	margin-top: 10px;
	padding-bottom: 2%;
} 


/*Коректируем размер иконки социальной сети*/
footer img {
	width: 10%;
	float: left;
	margin-right:6px;
}


/*Добавим стили что бы футер был снизу*/
html {height: 100%}

/*Прописываем стили для page-wrap*/
#page-wrap:after {
	content: "";
	display: block;
}

footer, #page-wrap:after {  /*Создали высоту для блока*/
	height: 10px
}


/*Прописываем стили для page-wrap*/
#page-wrap {
	min-height: 100%;
	margin-bottom: -5%;

}
