

.picture-bar-hover{
     -webkit-transition:  ease-out 0.2s;
     -moz-transition:  ease-out 0.2s;
     -o-transition:  ease-out 0.2s;
     transition:  ease-out 0.2s;
 }


/*.picture-bar-hover:hover {
	background-color: black;
	opacity: 0.3;
}*/


.picture-bar-hover section {
    -webkit-transition:  ease-out 0.3s;
    -moz-transition:  ease-out 0.3s;
    -o-transition:  ease-out 0.3s;
    transition:  ease-out 0.3s;
}


.picture-bar-hover::before {
  /*  contant: "";
    width: 100%;
    height: 200px;
    position: absolute;
    top: 200px;*/
    background: url(../img/hover-baner.png) no-repeat center center;
    position: absolute;
    top: 0;
    /* background-color: red; */
    /* z-index: 5; */
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
    transition: opacity 0.45s, transform 0.45s;
    -webkit-transform: rotate3d(0,0,1,45deg);
    transform: rotate3d(0,0,1, 33deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;

}







/*.picture-bar-hover:after:hover {
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    border: 1px solid black;
    width: 100px;
    height: 50px;
    background: red;
    z-index: 5;
}*/