.main{
	position: relative;
	width: 300px;
	height: 150px;
	margin: 300px auto
    background: url(/hover-baner.png);
}



.main::before:hover{
	transform: rotate3d(0,0,1,45deg);
}

/*after:hover {
	-o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}*/
