.main{
	position: relative;
	width: 100%;
	height: 150px;
	margin: 300px auto
    background: pinc;

}




/*after:hover {
	-o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}*/


