.main {
	position: relative;
	width: 100%;
	height: 150px;
	margin: 300px auto
    background: pinc;

}

* { box-sizing:border-box; }

body {
 	background:#EDEDED; 
}


/*after:hover {
	-o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}*/
.m {
	width: 100%;
	height: 200px;
}

.block1 {
	position: relative;
	width: 60px;
	height: 60px;
	background-color: brown;
}

.block2 {
	position: relative;
	width: 60px;
	height: 60px;
	background-color: pink;
}

.m:hover .block1:hover.block2 {
	background-color: red;
}

.block2 .block1:hover {
	background-color: red;
}

.block1:hover .block2 {
	background-color: red;
}
